
<suite name="BugBank-TransferFunds" verbose="1" parallel="none">
  <test name="TransferFunds-Suite">
    <classes>
      <class name="com.bugbank.hooks.TestSuiteHooks"/>
      <class name="com.bugbank.runners.TF003Runner"/>
      <class name="com.bugbank.runners.TF004Runner"/>
      <class name="com.bugbank.runners.TF005Runner"/>
      <class name="com.bugbank.runners.TF006Runner"/>
      <class name="com.bugbank.runners.TF007Runner"/>
      <class name="com.bugbank.runners.TF008Runner"/>
      <class name="com.bugbank.runners.TF023Runner"/>
      <class name="com.bugbank.runners.TF024Runner"/>
      <class name="com.bugbank.runners.TF025Runner"/>
      <class name="com.bugbank.runners.TF026Runner"/>
      <class name="com.bugbank.runners.TF028Runner"/>
      <class name="com.bugbank.runners.TF02345Runner"/>
      <class name="com.bugbank.runners.TF02123Runner"/>
      <class name="com.bugbank.runners.TF02678Runner"/>
      <class name="com.bugbank.runners.TF039Runner"/>
    </classes>
  </test>
</suite>